html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
}
.App {
  padding: 1em;
  width: 100vw;
  height: 95vh;
  border: 1px solid grey;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(20em, 1fr));

  grid-gap: 0.5em;
  margin: initial;
}

h4 {
  margin: 0;
}